<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <title>상품 수정</title>
</head>
<body>
<div class="item-card" th:each="item : ${item}">
<div layout:fragment="content">
    <h1>상품 수정 페이지</h1>
    <hr/>
    <form th:action="@{/admin/item/edit/{id}(id=${item.id})}" method="POST">
        <input type="text" name="itemName" placeholder="상품명" th:value="${item.itemName}" required /><br><br>

        <textarea name="itemDetail" placeholder="상품 설명" rows="4" cols="30" required
                  th:text="${item.itemDetail}"></textarea><br><br>

        <input type="number" name="price" placeholder="가격" th:value="${item.price}" required /><br><br>

        <input type="number" name="stock" placeholder="재고 수량" th:value="${item.stock}" required /><br><br>

        <select name="itemSellStatus">
            <option value="SELL" th:selected="${item.itemSellStatus == 'SELL'}">판매중</option>
            <option value="SOLD_OUT" th:selected="${item.itemSellStatus == 'SOLD_OUT'}">품절</option>
        </select><br><br>

        <button type="submit">상품 수정</button>
    </form>
</div>
</div>
</body>
</html>
